body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}


.main {
    background-color: white;
    width: 600px;
    height: 600px;
    display: flex;
    justify-items: stretch;
    flex-wrap: wrap;
    border: 2px solid black;
    filter: drop-shadow(10px 10px 15px black)
}

.square {
    outline: 1px solid black;
    width: 60px;
    height: 60px;
    flex-grow: 1;
    
}