body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    background-color: white;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    filter: drop-shadow(10px 10px 15px black);
       
}

.square {
    outline: 1px solid black;
    flex-grow: 1;

}

.smallSquare {
    height: 60px;
    width: 60px;
}

.mediumSquare {
    height: 30px;
    width: 30px;
    display: none;
}

.largeSquare {
    height: 15px;
    width: 15px;
    display: none;
}

.uiBox {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 150px;
    align-self: center;
    position: absolute;
    left: -180px;
    border: 2px solid black;
    background-color: white;

}

